<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.jianguan.business.certificate.mapper.CertificatePhotosMapper">

    <resultMap type="com.ruoyi.jianguan.business.certificate.domain.entity.CertificatePhotos" id="CertificatePhotosResult">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="contents" column="contents"/>
        <result property="startTime" column="start_time"/>
        <result property="endTime" column="end_time"/>
        <result property="reportTime" column="report_time"/>
        <result property="reportUser" column="report_user"/>
        <result property="owner" column="owner"/>
        <result property="attachment" column="attachment"/>
        <result property="status" column="status"/>
        <result property="delFlag" column="del_flag"/>
        <result property="projectId" column="project_id"/>
        <result property="remark" column="remark"/>
        <result property="createUserId" column="create_user_id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateUserId" column="update_user_id"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <select id="getPlanPageInfo" resultType="com.ruoyi.jianguan.business.certificate.domain.vo.PlanCertificatePhotosVo" parameterType="com.ruoyi.jianguan.business.certificate.domain.dto.CertificatePhotosPageDTO">
        select
            id,
            name,
            contents,
            start_time,
            end_time,
            report_time,
            report_user,
            plan_owner AS owner,
            plan_status AS status,
            del_flag as delFlag,
            project_id as projectId,
            remark,
            create_user_id as createUserId,
            create_time as createTime,
            update_user_id as updateUserId,
            update_time as updateTime
            from zz_certificate_photos a
        where del_flag = 0
        <if test="pageDto.name != null">
            and a.name like concat('%',#{pageDto.name},'%')
        </if>
        <if test="pageDto.status != null">
            and a.plan_status = #{pageDto.status}
        </if>
        order by create_time desc
    </select>

    <select id="getProgressPageInfo" resultType="com.ruoyi.jianguan.business.certificate.domain.vo.ProgressCertificatePhotosVo" parameterType="com.ruoyi.jianguan.business.certificate.domain.dto.CertificatePhotosPageDTO">
        select
            id,
            name,
            contents,
            start_time,
            end_time,
            report_time,
            report_user,
            progress_owner AS owner,
            progress_status AS status,
            attachment,
            del_flag as delFlag,
            project_id as projectId,
            remark,
            create_user_id as createUserId,
            create_time as createTime,
            update_user_id as updateUserId,
            update_time as updateTime
        from zz_certificate_photos a
        where del_flag = 0
          and plan_status = 1
        <if test="pageDto.name != null">
            and a.name like concat('%',#{pageDto.name},'%')
        </if>
        <if test="pageDto.status != null">
            and a.progress_status = #{pageDto.status}
        </if>
        order by create_time desc
    </select>

</mapper>