<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.ql.mapper.QlBasisSupplierMapper">

    <resultMap type="com.ruoyi.ql.domain.QlBasisSupplier" id="QlBasisSupplierResult">
        <result property="id" column="id"/>
        <result property="warehouseId" column="warehouse_id"/>
        <result property="supplierCode" column="supplier_code"/>
        <result property="supplierName" column="supplier_name"/>
        <result property="contactPerson" column="contact_person"/>
        <result property="telephone" column="telephone"/>
        <result property="mobilePhone" column="mobile_phone"/>
        <result property="email" column="email"/>
        <result property="address" column="address"/>
        <result property="supplierLevel" column="supplier_level"/>
        <result property="invoiceLookedUp" column="invoice_looked_up"/>
        <result property="invoiceTax" column="invoice_tax"/>
        <result property="invoiceType" column="invoice_type"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
        <result property="deptId" column="dept_id"/>
        <result property="payed" column="payed"/>
        <result property="unpaid" column="unpaid"/>
        <result property="invoiceAmount" column="invoice_amount"/>
        <result property="uninvoiceAmount" column="uninvoice_amount"/>
        <result property="supplierEnglishName" column="supplier_english_name"/>
    </resultMap>


</mapper>
