<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ruoyi.web.controller.jianguan.other.zlsk.strestservice.map.mapper.MapConfigRecordMapper">
  <select id="selectMapConfigs" parameterType="java.util.Map" resultType="java.util.Map">
    select  t1.ID,t1.serverName,t1.url,t1.description,t1.visiable,t1.attrbuites,t1.createtime,t1.ststate,t1.img,t2.`value` type,t1.type tkey from  map_config_record t1 LEFT JOIN (SELECT t2.* from (select id from ss_c_dic where `key`
= 'mapType') t1 LEFT JOIN ss_c_dic t2 on t1.id = t2.parentid)
t2 on t1.type = t2.`key`  where t1.ststate = 1
    <if test="ID != null and ID != ''">and t1.ID = #{ID}</if>
    <if test="serverName != null and serverName != ''">and t1.serverName like CONCAT('%',#{serverName},'%')</if>
    <if test="url != null and url != ''">and t1.url like CONCAT('%',#{url},'%')</if>
    <if test="visiable != null and visiable != ''">and t1.visiable = #{visiable}</if>
    <if test="type != null and type != '' ">and t1.type = #{type}</if>
      order by ID desc
    <if test="pageSize != null and pageSize != ''">limit ${pageSize}</if>
    <if test="pageNumber != null and pageNumber != ''">offset ${(pageNumber-1)*pageSize}</if>

  </select>


   <select id="selectNoPlans" parameterType="java.util.Map" resultType="java.util.Map">
   select  * from  map_config_record where ststate = 1 and ID not  in
   (select mcrId from map_record_plan where mpId = #{mpid})
    <if test="serverName != null and serverName != ''">and serverName like CONCAT('%',#{serverName},'%')</if>
    <if test="url != null and url != ''">and url like CONCAT('%',#{url},'%')</if>
    <if test="visiable != null and visiable != ''">and visiable = #{visiable}</if>
    <if test="type != null and type != '' ">and type = #{type}</if>
  </select>

  <select id="selectRecordByPlan" parameterType="Integer" resultType="java.util.Map">
    select t2.*,t3.id layresId,t3.* from  map_record_plan t1 left JOIN (select  * from map_config_record where
    ststate = 1)t2 on t1.mcrId = t2.ID  LEFT join st_layers t3  on t3.id = t1.mcrId where 1=1
     <if test="mpid != null and mpid != '' and mpid != 0">and t1.mpId = #{mpid}</if>
  </select>

  <select id="selectRecordByPlanParent" parameterType="String" resultType="java.util.Map">
    select t2.* from  map_record_plan t1 left JOIN (select  * from map_config_record where
    ststate = 1)t2 on t1.mcrId = t2.ID where t1.mpId in ${mpids}
  </select>

  <select id="getTotal" parameterType="java.util.Map" resultType="Integer">
    select  count(*)total from  map_config_record  where  ststate = 1
     <if test="ID != null and ID != ''">and ID = #{ID}</if>
    <if test="serverName != null and serverName != ''">and serverName like CONCAT('%',#{serverName},'%')</if>
    <if test="url != null and url != ''">and url like CONCAT('%',#{url},'%')</if>
    <if test="visiable != null and visiable != ''">and visiable = #{visiable}</if>
    <if test="type != null and type != '' ">and type = #{type}</if>
  </select>

   <insert id="insertMapConfig" parameterType="Map">
        insert into map_config_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="serverName != null">
                serverName,
            </if>
            <if test="url != null">
                url,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="visiable != null">
                visiable,
            </if>
            <if test="attrbuites != null">
                attrbuites,
            </if>
            <if test="createtime != null">
                createtime,
            </if>
            <if test="ststate != null">
                ststate,
            </if>
            <if test="cusId != null">
                cusId,
            </if>
            <if test="img != null">
                img,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="serverName != null">
                #{serverName,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                #{url,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=VARCHAR},
            </if>
            <if test="visiable != null">
                #{visiable,jdbcType=INTEGER},
            </if>
             <if test="attrbuites != null">
                #{attrbuites,jdbcType=VARCHAR},
            </if>
            <if test="createtime != null">
                #{createtime,jdbcType=VARCHAR},
            </if>
            <if test="ststate != null">
                #{ststate,jdbcType=INTEGER},
            </if>
            <if test="cusId != null">
                #{cusId,jdbcType=INTEGER},
            </if>
            <if test="img != null">
                #{img,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateMapConfig" parameterType="Map">
        UPDATE map_config_record
        <set>
            <if test="img != null">
                img = #{img,jdbcType=VARCHAR},
            </if>
            <if test="serverName != null">
                serverName = #{serverName,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                url = #{url,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=VARCHAR},
            </if>
            <if test="visiable != null">
                visiable = #{visiable,jdbcType=INTEGER},
            </if>
            <if test="attrbuites != null">
                attrbuites = #{attrbuites,jdbcType=VARCHAR},
            </if>
        </set>
        where ID = #{ID,jdbcType=INTEGER}
    </update>

    <update id="delMapMapConfig"  parameterType="Integer">
       update map_config_record
        set ststate = 0
        where ID = #{id}
    </update>

</mapper>
