<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ruoyi.web.controller.jianguan.zlsk.strestservice.map.mapper.MapPlanMapper">

  <select id="selectMapPlans" parameterType="java.util.Map" resultType="java.util.Map">
  SELECT * from map_plan where  ststate =  1 order  by  storder asc
    <if test="pname != null and pname != ''">and t1.pname like CONCAT('%',#{pname},'%')</if>
  </select>

   <select id="selectNoPer"  resultType="java.util.Map" parameterType="Integer">
   	select  * from   map_plan where  ststate = 1 and parentId = 0 and
   	 ID not in (select mId from map_permission where associateId = #{mId} and  ptype = #{pid})
   	  <if test="pname != null and pname != ''">and pname like CONCAT('%',#{pname},'%')</if>
  </select>
   <select id="selectPlanByPer"  resultType="java.util.Map" parameterType="String">
   	${sql}
  </select>
   <insert id="insertMapPlan" parameterType="Map">
        insert into map_plan
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pname != null">
                pname,
            </if>
            <if test="parentId != null">
                parentId,
            </if>
            <if test="lev != null">
                lev,
            </if>
            <if test="createtime != null">
                createtime,
            </if>
            <if test="stgroup != null">
                stgroup,
            </if>
            <if test="ststate != null">
                ststate,
            </if>
            <if test="storder != null">
                storder,
            </if>
            <if test="sttype != null">
                sttype,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="pname != null">
                #{pname,jdbcType=VARCHAR},
            </if>
            <if test="parentId != null">
                #{parentId,jdbcType=INTEGER},
            </if>
            <if test="lev != null">
                #{lev,jdbcType=INTEGER},
            </if>
            <if test="createtime != null">
                #{createtime,jdbcType=VARCHAR},
            </if>
            <if test="stgroup != null">
                #{stgroup,jdbcType=VARCHAR},
            </if>
            <if test="ststate != null">
                #{ststate,jdbcType=INTEGER},
            </if>
            <if test="storder != null">
                #{storder,jdbcType=INTEGER},
            </if>
              <if test="sttype != null">
                #{sttype,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <insert id="insertMapRecordPlan" parameterType="Map">
        insert into map_record_plan
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="mpId != null">
                mpId,
            </if>
            <if test="mcrId != null">
                mcrId,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="mpId != null">
                #{mpId,jdbcType=INTEGER},
            </if>
            <if test="mcrId != null">
                #{mcrId,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <update id="updateMapPlan" parameterType="Map">
        UPDATE map_plan
        <set>
            <if test="pname != null">
                pname = #{pname,jdbcType=VARCHAR},
            </if>
            <if test="parentId != null">
                parentId = #{parentId,jdbcType=INTEGER},
            </if>
            <if test="lev != null">
                lev = #{lev,jdbcType=INTEGER},
            </if>
            <if test="stgroup != null">
                stgroup = #{stgroup,jdbcType=VARCHAR},
            </if>
        </set>
        where ID = #{ID,jdbcType=INTEGER}
    </update>

    <update id="delMapPlan"  parameterType="Integer">
       update map_plan
        set ststate = 0
        where ID = #{id}
    </update>
    <update id="delChildrenMapPlan"  parameterType="Integer">
       update map_plan
        set ststate = 0
        where parentId = #{id}
    </update>

    <update id="delAllMapPlan">
       update map_plan
        set ststate = 0
    </update>

    <delete id="delMap_Record_Plan"  parameterType="Integer">
      delete  from map_record_plan where mcrId = #{mcrId}
    </delete>

    <update id="updateLayers"  parameterType="Integer">
        update st_layers set visible = #{v} where id = #{id}
    </update>
</mapper>
