<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ruoyi.web.controller.jianguan.zlsk.strestservice.userauth.mapper.FunMapper">

    <select id="select" resultType="Map" parameterType="Map">
        select * from ss_c_fun where STSTATE = 1
        <if test="id != null and id != ''">and ID = #{id}</if>
        <if test="parentid != null and parentid != ''">and PARENTID = #{parentid}</if>
        <if test="code != null and code != ''">and CODE = #{code}</if>
    </select>

    <insert id="insert" parameterType="Map">
        insert into ss_c_fun
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                ID,
            </if>
            <if test="code != null">
                CODE
            </if>
            <if test="name != null">
                NAME,
            </if>
            <if test="parentid != null">
                PARENTID,
            </if>
            <if test="sttime != null">
                STTIME,
            </if>
            <if test="ststate != null">
                STSTATE,
            </if>
            <if test="storder != null">
                STORDER,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="code != null">
                #{code,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="parentid != null">
                #{parentid,jdbcType=INTEGER},
            </if>
            <if test="sttime != null">
                #{sttime,jdbcType=TIMESTAMP},
            </if>
            <if test="ststate != null">
                #{ststate,jdbcType=INTEGER},
            </if>
            <if test="storder != null">
                #{storder,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <delete id="delete" parameterType="Integer">
        delete from ss_c_fun
        where ID = #{id}
    </delete>

    <select id="selectFun" resultType="Map" parameterType="Map">
        select t2.* from ss_f_userauth t1
        LEFT JOIN ss_c_fun t2 on t2.ID = t1.RID
        where t1.STSTATE = 1 and t2.STSTATE = 1
        <foreach collection="uids" item="uid" separator="or" open="and (" close=")">
             t1.UID = ${uid}
        </foreach>
    </select>
</mapper>
