<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ruoyi.web.controller.jianguan.other.zlsk.strestservice.userauth.mapper.LogMapper">

    <select id="select" resultType="Map" parameterType="Map">
        select t1.*,t2.NAME operUserName,t3.`value` logName from (SELECT *  FROM zlsk_log  where ststate = 1)t1
        left join (SELECT ID,NAME  FROM ss_f_users  where STSTATE = 1) t2 on t1.operUserId = t2.ID
          left join (select `key`,`value` from ss_c_dic where ststate = 1)t3 on t3.`key` = t1.logType
        where 1=1
        <if test="id != null and id != ''">and t1.id = #{id}</if>
        <if test="operation != null and operation != ''">and t1.operation like CONCAT('%',#{operation},'%')</if>
        <if test="logType != null and logType != ''">and t3.`key` = #{logType}</if>
        <if test="operName != null and operName != ''">and t2.NAME like CONCAT('%',#{operName},'%')</if>
        order by t1.createtime desc
        <if test="pageSize != null and pageSize != ''">limit ${pageSize}</if>
        <if test="pageNumber != null and pageNumber != ''">offset ${(pageNumber-1)*pageSize}</if>
    </select>

   <select id="selectTotal" resultType="Integer" parameterType="Map">
        select count(*)total from (SELECT *  FROM zlsk_log  where ststate = 1)t1
        left join (SELECT ID,NAME  FROM ss_f_users  where STSTATE = 1) t2 on t1.operUserId = t2.ID
        left join (select `key`,`value` from ss_c_dic where ststate = 1)t3 on t3.`key` = t1.logType
        where 1=1
        <if test="id != null and id != ''">and t1.id = #{id}</if>
        <if test="operation != null and operation != ''">and t1.operation like CONCAT('%',#{operation},'%')</if>
        <if test="logType != null and logType != ''">and t3.`key` = #{logType}</if>
        <if test="operName != null and operName != ''">and t2.NAME like CONCAT('%',#{operName},'%')</if>
    </select>

    <insert id="insert" parameterType="Map">
        insert into zlsk_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="loginIp != null">
                loginIp,
            </if>
            <if test="operation != null">
                operation,
            </if>
            <if test="operUserId != null">
                operUserId,
            </if>
            <if test="logType != null">
                logType,
            </if>
             <if test="remark != null">
                remark,
            </if>
            <if test="createtime != null">
                createtime,
            </if>
            <if test="ststate != null">
                ststate,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="loginIp != null">
                #{loginIp,jdbcType=VARCHAR},
            </if>
            <if test="operation != null">
                #{operation,jdbcType=VARCHAR},
            </if>
            <if test="operUserId != null">
                #{operUserId,jdbcType=INTEGER},
            </if>
             <if test="logType != null">
                #{logType,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="createtime != null">
                #{createtime,jdbcType=VARCHAR},
            </if>
            <if test="ststate != null">
                #{ststate,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="Map">
        update zlsk_log
        <set>
            <if test="loginIp != null">
                loginIp = #{loginIp,jdbcType=VARCHAR},
            </if>
            <if test="operation != null">
                operation = #{operation,jdbcType=VARCHAR},
            </if>
            <if test="logType != null">
                logType = #{logType,jdbcType=VARCHAR},
            </if>
             <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="delete" parameterType="java.lang.Integer">
        update  zlsk_log set ststate = 0
        where id = #{id}
    </update>
</mapper>
