<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ruoyi.web.controller.jianguan.zlsk.strestservice.userauth.mapper.RolesMapper">

    <select id="select" resultType="Map" parameterType="Map">
        select * from ss_f_roles where STSTATE = 1
        <if test="id != null and id != ''">and ID = #{id}</if>
        <if test="code != null and code != ''">and CODE = #{code}</if>
        <if test="parentid != null and parentid != ''">and PARENTID = #{parentid}</if>
        <if test="rolelevel != null and rolelevel != ''">and ROLELEVEl = #{rolelevel}</if>
        <if test="name != null and name != ''">and NAME like concat('%',concat(#{name},'%'))</if>
        <if test="name1 != null and name1 != ''">and NAME = #{name1}</if>
        order by ID;
    </select>

    <insert id="insert" parameterType="Map">
        insert into ss_f_roles
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                ID,
            </if>
            <if test="name != null">
                NAME,
            </if>
            <if test="code != null">
                CODE,
            </if>
            <if test="parentid != null">
                PARENTID,
            </if>
            <if test="type != null">
                TYPE,
            </if>
            <if test="rolelevel != null">
                ROLELEVEL,
            </if>
            <if test="visible != null">
                VISIBLE,
            </if>
            <if test="sttime != null">
                STTIME,
            </if>
            <if test="ststate != null">
                STSTATE,
            </if>
            <if test="storder != null">
                STORDER,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="code != null">
                #{code,jdbcType=VARCHAR},
            </if>
            <if test="parentid != null">
                #{parentid,jdbcType=INTEGER},
            </if>
            <if test="type != null">
                #{type,jdbcType=INTEGER},
            </if>
            <if test="rolelevel != null">
                #{rolelevel,jdbcType=INTEGER},
            </if>
            <if test="visible != null">
                #{visible,jdbcType=VARCHAR},
            </if>
            <if test="sttime != null">
                #{sttime,jdbcType=TIMESTAMP},
            </if>
            <if test="ststate != null">
                #{ststate,jdbcType=INTEGER},
            </if>
            <if test="storder != null">
                #{storder,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <delete id="delete" parameterType="java.lang.Integer">
        delete from ss_f_roles
        where ID = #{id}
    </delete>

    <update id="update" parameterType="Map">
        update ss_f_roles
        <set>
            <if test="name != null">
                NAME = #{name,jdbcType=VARCHAR},
            </if>
            <if test="code != null">
                CODE = #{code,jdbcType=VARCHAR},
            </if>
            <if test="parentid != null">
                PARENTID = #{parentid,jdbcType=INTEGER},
            </if>
            <if test="type != null">
                TYPE = #{type,jdbcType=INTEGER},
            </if>
            <if test="rolelevel != null">
                ROLELEVEL = #{rolelevel,jdbcType=INTEGER},
            </if>
            <if test="visible != null">
                VISIBLE = #{visible,jdbcType=VARCHAR},
            </if>
            <if test="sttime != null">
                STTIME = #{sttime,jdbcType=TIMESTAMP},
            </if>
            <if test="ststate != null">
                STSTATE = #{ststate,jdbcType=INTEGER},
            </if>
            <if test="storder != null">
                STORDER = #{storder,jdbcType=INTEGER},
            </if>
        </set>
        where ID = #{id,jdbcType=INTEGER}
    </update>

</mapper>
