<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ruoyi.web.controller.jianguan.zlsk.strestservice.userauth.mapper.SubSystemMapper">

    <select id="select" resultType="Map" parameterType="Map">
        SELECT t1.sysName,t1.sysCode,t1.ststate,t1.createtime,t1.ID,t2.`value` type from  subsystem t1 LEFT JOIN (SELECT t2.* from (select id from ss_c_dic where `key`
= 'subSystem') t1 LEFT JOIN ss_c_dic t2 on t1.id = t2.parentid)
t2 on t1.type = t2.`key` where t1.ststate = 1
        <if test="ID != null and ID != ''">and t1.ID = #{id}</if>
        <if test="sysName != null and sysName != ''">and t1.sysName like CONCAT('%',#{sysName},'%')</if>
        <if test="sysCode != null and sysCode != ''">and t1.sysCode  like CONCAT('%',#{sysCode},'%')</if>
        <if test="type != null and type != ''">and t1.type = #{type}</if>
        order by createtime desc
         <if test="pageSize != null and pageSize != ''"> limit ${pageSize}</if>
        <if test="pageNumber != null and pageNumber != ''">offset ${(pageNumber-1)*pageSize}</if>
    </select>


   <select id="selectSubsystemType" resultType="Map" parameterType="Map">
      SELECT  t2.sysName,t2.sysCode,t2.ststate,t2.createtime,t2.ID,t1.`value` type FROM(SELECT t1.`key`,t1.`value`,t1.sttime
      FROM ss_c_dic t1,( SELECT * FROM ss_c_dic WHERE `key` = 'subSystem' and  ststate = 1 ) t2
      WHERE t1.parentid = t2.id  and t1.ststate = 1) t1
	  LEFT JOIN (select * from subsystem where ststate = 1) t2 ON t1.`key` = t2.type
      ORDER BY t1.sttime DESC,t2.createtime ASC
    </select>

   <select id="selectTotal" resultType="Integer" parameterType="Map">
        SELECT count(*)total from subsystem t1 where t1.ststate = 1
        <if test="ID != null and ID != ''">and t1.ID = #{id}</if>
        <if test="sysName != null and sysName != ''">and t1.sysName like CONCAT('%',#{sysName},'%')</if>
        <if test="sysCode != null and sysCode != ''">and t1.sysCode  like CONCAT('%',#{sysCode},'%')</if>
        <if test="type != null and type != ''">and t1.type = #{type}</if>

    </select>

    <insert id="insert" parameterType="Map">
        insert into subsystem
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="ID != null">
                ID,
            </if>
            <if test="sysName != null">
                sysName,
            </if>
            <if test="sysCode != null">
                sysCode,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="createtime != null">
                createtime,
            </if>
            <if test="ststate != null">
                ststate,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="ID != null">
                #{ID,jdbcType=INTEGER},
            </if>
            <if test="sysName != null">
                #{sysName,jdbcType=VARCHAR},
            </if>
            <if test="sysCode != null">
                #{sysCode,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=VARCHAR},
            </if>
            <if test="createtime != null">
                #{createtime,jdbcType=VARCHAR},
            </if>
            <if test="ststate != null">
                #{ststate,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <update id="updateSys" parameterType="Map">
        update subsystem
        <set>
            <if test="sysName != null">
                sysName = #{sysName,jdbcType=VARCHAR},
            </if>
            <if test="sysCode != null">
                sysCode = #{sysCode,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=VARCHAR},
            </if>
        </set>
        where ID = #{ID,jdbcType=INTEGER}
    </update>

    <update id="delete" parameterType="java.lang.Integer">
        update subsystem set ststate = 0
        where id = #{id}
    </update>
</mapper>
