<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ruoyi.web.controller.jianguan.other.zlsk.strestservice.userauth.mapper.UserauthMapper">

    <insert id="insert" parameterType="Map">
        insert into ss_f_userauth (ID, RID, RTYPE, UID, UTYPE, STTIME, STSTATE, STORDER)
        values (#{id}, #{rid}, #{rtype}, #{uid}, #{utype}, #{sttime}, #{ststate}, #{storder})
    </insert>

    <select id="select" parameterType="Integer" resultType="Map">
        select * from ss_f_userauth where STSTATE = 1
        <if test="uid != null and uid != ''">and UID = #{uid}</if>
        <if test="rid != null and rid != ''">and RID = #{rid}</if>
        <if test="rtype != null and rtype != ''">and RTYPE = #{rtype}</if>
        <if test="utype != null and utype != ''">and UTYPE = #{utype}</if>
    </select>

    <delete id="delete" parameterType="Map">
        delete from ss_f_userauth where STSTATE = 1
        <if test="uid != null and uid != ''">and UID = #{uid}</if>
        <if test="rid != null and rid != ''">and RID = #{rid}</if>
        <if test="rtype != null and rtype != ''">and RTYPE = #{rtype}</if>
    </delete>
</mapper>
