<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.jianguan.business.onlineForms.mapper.PubProduceDocumentMapper">

    <resultMap type="com.ruoyi.jianguan.business.onlineForms.domain.PubProduceDocument" id="PubProduceDocumentResult">
        <result property="id" column="id"/>
        <result property="componentId" column="component_id"/>
        <result property="produceId" column="produce_id"/>
        <result property="documentName" column="document_name"/>
        <result property="documentUrl" column="document_url"/>
        <result property="documentStatus" column="document_status"/>
        <result property="documentType" column="document_type"/>
        <result property="remark" column="remark"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <select id="selectCountByPrimaryKey" resultType="java.lang.Integer">
        SELECT COUNT(1)
            FROM pub_produce_document
        WHERE id = #{id}
    </select>

</mapper>
