<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.web.controller.jianguan.zlsk.strestservice.mapper.CiPublicSupportingFacilitiesMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ruoyi.web.controller.jianguan.zlsk.strestservice.model.CiPublicSupportingFacilities">
        <id column="id" property="id" />
        <result column="project_name" property="projectName" />
        <result column="land_area" property="landArea" />
        <result column="plot_ratio" property="plotRatio" />
        <result column="building_area" property="buildingArea" />
        <result column="unit_price" property="unitPrice" />
        <result column="project_cost" property="projectCost" />
        <result column="engineering_id" property="engineeringId" />
    </resultMap>


    <sql id="BaseResultSql">
        id,project_name,land_area,plot_ratio,building_area,unit_price,project_cost,engineering_id
    </sql>

    <select id="selectByEngineeringId" resultMap="BaseResultMap">
        SELECT
        <include refid="BaseResultSql" />
        FROM
            ci_public_supporting_facilities
        WHERE
        engineering_id=#{engineeringId}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO ci_public_supporting_facilities VALUES (null,#{projectName},#{landArea},#{plotRatio},#{buildingArea},
                                         #{unitPrice},#{projectCost},#{engineeringId})
    </insert>

    <update id="updateById" useGeneratedKeys="true" keyProperty="id">
        UPDATE
            ci_public_supporting_facilities
        <set>
        <if test="projectName!=null">
            project_name=#{projectName},
        </if>
        <if test="landArea!=null">
            land_area=#{landArea},
        </if>
        <if test="plotRatio!=null">
            plot_ratio=#{plotRatio},
        </if>
        <if test="buildingArea!=null">
            building_area=#{buildingArea},
        </if>
        <if test="unitPrice!=null">
            unit_price=#{unitPrice},
        </if>
        <if test="projectCost!=null">
            project_cost=#{projectCost}
        </if>
        </set>
        WHERE
        id=#{id}
        and
        engineering_id=#{engineeringId}
    </update>

    <delete id="deleteByIds">
        DELETE FROM
            ci_public_supporting_facilities
        WHERE
        id IN
        <foreach collection="ids" separator="," item="item" open="(" close=")">
            #{item}
        </foreach>
    </delete>
</mapper>
