<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ruoyi.web.controller.jianguan.zlsk.strestservice.mapper.LadCostMapper" >
    <resultMap id="BaseResultMap" type="com.ruoyi.web.controller.jianguan.zlsk.strestservice.model.LadCost">
        <id column="id" property="id" />
        <result column="lad_name" property="ladName" />
        <result column="engineering_id" property="engineeringId" />
        <result column="dictionary_id" property="dictionaryId" />
        <result column="amount" property="amount" />
        <result column="unit_price" property="unitPrice" />
        <result column="total_cost" property="totalCost" />
        <result column="unit_amount" property="unitAmount" />
        <result column="unit_price_per_unit" property="unitPricePerUnit" />
    </resultMap>

    <sql id="BaseSql">
        id,lad_name,engineering_id,dictionary_id,amount,unit_price,total_cost,unit_amount,unit_price_per_unit
    </sql>

    <select id="selectById" resultMap="BaseResultMap">
        SELECT
            <include refid="BaseSql" />
        FROM
            lad_cost
        WHERE
            engineering_id=#{id}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO lad_cost VALUES(null,#{ladName},#{engineeringId},#{dictionaryId},#{amount},#{unitPrice},#{totalCost},#{unitAmount},#{unitPricePerUnit})
    </insert>

    <update id="updateInfo">
        UPDATE
            lad_cost
        <set>
            <if test="ladName!=null">
                lad_name=#{ladName},
            </if>
            <if test="amount!=null">
                amount = #{amount},
            </if>
            <if test="unitPrice!=null">
                unit_price = #{unitPrice},
            </if>
            <if test="totalCost!=null">
                total_cost = #{totalCost},
            </if>
            <if test="dictionaryId!=null">
                dictionary_id=#{dictionaryId},
            </if>
            <if test="unitAmount!=null">
                unit_amount=#{unitAmount},
            </if>
            <if test="unitPricePerUnit!=null">
                unit_price_per_unit=#{unitPricePerUnit}
            </if>
        </set>
        WHERE
            engineering_id=#{engineeringId}
            AND
            id=#{id}
    </update>


    <select id="selectLadCost" resultType="java.lang.Double">
        SELECT
            total_cost
        FROM
            lad_cost lc
        LEFT JOIN
            lad_cost_dictionary lcd
        ON
            lc.dictionary_id = lcd.id
        WHERE
            lc.engineering_id=#{engineeringId}
            AND
            lcd.lad_name=#{ladName}
    </select>

</mapper>
