<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.jianguan.business.quality.mapper.BuildPlanMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ruoyi.jianguan.business.quality.domain.entity.BuildPlan">
        <id column="id" property="id" />
        <result column="create_user_id" property="createUserId" />
        <result column="create_time" property="createTime" />
        <result column="update_user_id" property="updateUserId" />
        <result column="update_time" property="updateTime" />
        <result column="project_id" property="projectId" />
        <result column="project_code" property="projectCode" />
        <result column="build_plan_name" property="buildPlanName" />
        <result column="attachment_list" property="attachmentList" />
        <result column="build_plan_attachment" property="buildPlanAttachment" />
        <result column="expert_meeting_attachment" property="expertMeetingAttachment" />
        <result column="expert_argument" property="expertArgument" />
        <result column="expert_opinion" property="expertOpinion" />
        <result column="expert_opinion_implement" property="expertOpinionImplement" />
        <result column="reply_attachment" property="replyAttachment" />
        <result column="draft_flag" property="draftFlag" />
        <result column="deleted_flag" property="deletedFlag" />
        <result column="status" property="status" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        create_user_id,
        create_time,
        update_user_id,
        update_time,
        id, project_id, project_code, build_plan_name, attachment_list, build_plan_attachment, expert_meeting_attachment, expert_argument, expert_opinion, expert_opinion_implement, reply_attachment, draft_flag, deleted_flag
    </sql>

    <select id="getPageInfo" parameterType="com.ruoyi.jianguan.business.quality.domain.dto.BuildPlanPageDTO" resultType="com.ruoyi.jianguan.business.quality.domain.vo.BuildPlanPageVo">
        select a.*,p.name as projectName,s.name as buildSectionName,u.nick_name as createUserName  from zz_build_plan a
        left join ss_f_projects p on a.project_id = p.ID and p.GROUPLEVEL = 2
        left join ss_f_projects s on a.project_id = s.PARENTID and s.GROUPLEVEL = 3
        left join   sys_user u on a.create_user_id = u.user_id
          where    a.build_section = #{pageDto.buildSection}
        <if test="pageDto.buildPlanName != null and pageDto.buildPlanName != ''">
            and a.build_plan_name like concat('%',#{pageDto.buildPlanName},'%')
        </if>
        <if test="pageDto.buildSectionName != null and pageDto.buildSectionName != ''">
            and s.`name` like concat('%',#{pageDto.buildSectionName},'%')
        </if>
        <if test="pageDto.supervisionSectionName != null and pageDto.supervisionSectionName != ''">
            and s.`name` like concat('%',#{pageDto.supervisionSectionName},'%')
        </if>
        <if test="pageDto.draftFlag != null">
            and a.draft_flag = #{pageDto.draftFlag}
        </if>
        order by a.create_time desc
    </select>

</mapper>
