<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.jianguan.manage.map.mapper.MapPlanServerMapper">

    <resultMap type="com.ruoyi.jianguan.manage.map.domain.MapPlanServer" id="MapPlanServerResult">
        <result property="id" column="id"/>
        <result property="planId" column="plan_id"/>
        <result property="serverId" column="server_id"/>
    </resultMap>

    <select id="selectVoPageByPlanId" resultType="com.ruoyi.jianguan.manage.map.domain.vo.MapPlanServerVo">
        SELECT
            ms.id,
            ms.plan_id,
            ms.server_id,
            mc.server_name,
            mc.server_code,
            mc.server_url,
            mc.server_type,
            mc.visiable,
            mc.STATUS,
            mc.attrbuites,
            mc.thumbnail,
            mc.description,
            ms.create_by,
            ms.create_time,
            ms.update_by,
            ms.update_time
        FROM
            map_server_config mc
                JOIN map_plan_server ms ON ( ms.server_id = mc.id )
        WHERE
            ms.plan_id = #{planId}
    </select>


</mapper>
