<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.map.mapper.MapPlanMapper">

    <resultMap type="com.ruoyi.map.domain.MapPlan" id="MapPlanResult">
        <result property="id" column="id"/>
        <result property="planName" column="plan_name"/>
        <result property="parentId" column="parent_id"/>
        <result property="level" column="`level`"/>
        <result property="group" column="`group`"/>
        <result property="status" column="`status`"/>
        <result property="orderNumber" column="order_number"/>
        <result property="groupType" column="group_type"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>


</mapper>
