<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ruoyi.web.controller.jianguan.zlsk.strestservice.mapper.GyyMapper">

    <select id="select" resultType="Map" parameterType="Map">
        select t1.*,t2.funName parentName from (SELECT *  FROM zlsk_gyy  where ststate = 1) t1
        left join (SELECT  id,funName  FROM zlsk_gyy  where ststate = 1) t2 on t1.parentId = t2.id
        where 1=1
        <if test="id != null and id != ''">and t1.id = #{id}</if>
        <if test="parentId != null and parentId != ''">and t1.parentId = #{parentId}</if>
        <if test="funName != null and funName != ''">and t1.funName = #{funName}</if>
        <if test="funKey != null and funKey != ''">and t1.funKey = #{funKey}</if>
        order by t1.createtime desc
    </select>

   <select id="selectTotal" resultType="Integer" parameterType="Map">
        SELECT count(*)total  FROM zlsk_gyy  where ststate = 1
        <if test="id != null and id != ''">and id = #{id}</if>
        <if test="parentId != null and parentId != ''">and parentId = #{parentId}</if>
        <if test="funName != null and funName != ''">and funName = #{funName}</if>
        <if test="funKey != null and funKey != ''">and funKey = #{funKey}</if>
    </select>

    <insert id="insert" parameterType="Map">
        insert into zlsk_gyy
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="funName != null">
                funName,
            </if>
            <if test="funKey != null">
                funKey,
            </if>
            <if test="parentId != null">
                parentId,
            </if>
            <if test="createtime != null">
                createtime,
            </if>
            <if test="ststate != null">
                ststate,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="funName != null">
                #{funName,jdbcType=VARCHAR},
            </if>
            <if test="funKey != null">
                #{funKey,jdbcType=VARCHAR},
            </if>
            <if test="parentId != null">
                #{parentId,jdbcType=INTEGER},
            </if>
            <if test="createtime != null">
                #{createtime,jdbcType=VARCHAR},
            </if>
            <if test="ststate != null">
                #{ststate,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="Map">
        update zlsk_gyy
        <set>
            <if test="funName != null">
                funName = #{funName,jdbcType=VARCHAR},
            </if>
            <if test="funKey != null">
                funKey = #{funKey,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="delete" parameterType="java.lang.Integer">
        update  zlsk_gyy set ststate = 0
        where id = #{id}
    </update>

     <update id="deleteChildren" parameterType="java.lang.Integer">
        update  zlsk_gyy set ststate = 0
        where parentId = #{id}
    </update>
</mapper>
