<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ruoyi.web.controller.jianguan.zlsk.strestservice.mapper.NoticeMapper">

    <select id="select" resultType="Map" parameterType="Map">
        select t1.*,t2.NAME createName from (SELECT *  FROM zlsk_notice  where ststate = 1)t1
        left join (SELECT ID,NAME  FROM ss_f_users  where STSTATE = 1) t2 on t1.createrId = t2.ID
        where 1=1
        <if test="id != null and id != ''">and t1.id = #{id}</if>
        <if test="title != null and title != ''">and t1.title like CONCAT('%',#{title},'%')</if>
        order by t1.createtime desc
        <if test="pageSize != null and pageSize != ''">limit ${pageSize}</if>
        <if test="pageNumber != null and pageNumber != ''">offset ${(pageNumber-1)*pageSize}</if>
    </select>
      <select id="selectExist" resultType="Map" parameterType="Map">
        select t1.*,t2.NAME createName from (SELECT *  FROM zlsk_notice  where ststate = 1)t1
        left join (SELECT ID,NAME  FROM ss_f_users  where STSTATE = 1) t2 on t1.createrId = t2.ID
        where 1=1
        <if test="id != null and id != ''">and t1.id != #{id}</if>
        <if test="title != null and title != ''">and t1.title = #{title}</if>
    </select>
   <select id="selectTotal" resultType="Integer" parameterType="Map">
        SELECT count(*)total  FROM zlsk_notice  where ststate = 1
        <if test="id != null and id != ''">and id = #{id}</if>
        <if test="title != null and title != ''">and title like CONCAT('%',#{title},'%')</if>
    </select>

    <insert id="insert" parameterType="Map">
        insert into zlsk_notice
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="content != null">
                content,
            </if>
            <if test="linkPath != null">
                linkPath,
            </if>
            <if test="createrId != null">
                createrId,
            </if>
            <if test="createtime != null">
                createtime,
            </if>
            <if test="ststate != null">
                ststate,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                #{content,jdbcType=VARCHAR},
            </if>
            <if test="linkPath != null">
                #{linkPath,jdbcType=VARCHAR},
            </if>
              <if test="createrId != null">
                #{createrId,jdbcType=INTEGER},
            </if>
            <if test="createtime != null">
                #{createtime,jdbcType=VARCHAR},
            </if>
            <if test="ststate != null">
                #{ststate,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="Map">
        update zlsk_notice
        <set>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=VARCHAR},
            </if>
             <if test="linkPath != null">
                linkPath = #{linkPath,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="delete" parameterType="java.lang.Integer">
        update  zlsk_notice set ststate = 0
        where id = #{id}
    </update>
</mapper>
