<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ruoyi.web.controller.jianguan.zlsk.strestservice.mapper.UserOrganizeMapper">

    <select id="select" resultType="Map" parameterType="Map">
        SELECT *  FROM zlsk_userorganize  where ststate = 1
        <if test="id != null and id != ''">and id = #{id}</if>
        <if test="userGroupName != null and userGroupName != ''">and userGroupName like CONCAT('%',#{userGroupName},'%')</if>
        <if test="userGroupCode != null and userGroupCode != ''">and userGroupCode = #{userGroupCode}</if>
        order by createtime desc
        <if test="pageSize != null and pageSize != ''">limit ${pageSize}</if>
        <if test="pageNumber != null and pageNumber != ''">offset ${(pageNumber-1)*pageSize}</if>
    </select>

   <select id="selectTotal" resultType="Integer" parameterType="Map">
        SELECT count(*)total  FROM zlsk_userorganize  where ststate = 1
        <if test="id != null and id != ''">and id = #{id}</if>
        <if test="userGroupName != null and userGroupName != ''">and userGroupName like CONCAT('%',#{userGroupName},'%')</if>
        <if test="userGroupCode != null and userGroupCode != ''">and userGroupCode = #{userGroupCode}</if>
    </select>

    <insert id="insert" parameterType="Map">
        insert into zlsk_userorganize
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userGroupName != null">
                userGroupName,
            </if>
            <if test="userGroupCode != null">
                userGroupCode,
            </if>
            <if test="createtime != null">
                createtime,
            </if>
            <if test="ststate != null">
                ststate,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="userGroupName != null">
                #{userGroupName,jdbcType=VARCHAR},
            </if>
            <if test="userGroupCode != null">
                #{userGroupCode,jdbcType=VARCHAR},
            </if>
            <if test="createtime != null">
                #{createtime,jdbcType=VARCHAR},
            </if>
            <if test="ststate != null">
                #{ststate,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="Map">
        update zlsk_userorganize
        <set>
            <if test="userGroupName != null">
                userGroupName = #{userGroupName,jdbcType=VARCHAR},
            </if>
            <if test="userGroupCode != null">
                userGroupCode = #{userGroupCode,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="delete" parameterType="java.lang.Integer">
        update  zlsk_userorganize set ststate = 0
        where id = #{id}
    </update>
</mapper>
