<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.ql.mapper.QlFinPaymentMapper">

    <resultMap type="com.ruoyi.ql.domain.QlFinPayment" id="QlFinPaymentResult">
        <result property="id" column="id"/>
        <result property="contractId" column="contract_id"/>
        <result property="contractCode" column="contract_code"/>
        <result property="contractName" column="contract_name"/>
        <result property="supplierId" column="supplier_id"/>
        <result property="supplierName" column="supplier_name"/>
        <result property="payAmount" column="pay_amount"/>
        <result property="payType" column="pay_type"/>
        <result property="unpaid" column="unpaid"/>
        <result property="paymentDate" column="payment_date"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
        <result property="deptId" column="dept_id"/>
        <result property="accountNo" column="account_no"/>
        <result property="bankName" column="bank_name"/>
        <result property="invoiceNo" column="Invoice_no"/>
        <result property="fj" column="fj"/>
    </resultMap>


</mapper>
