<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.ql.mapper.QlReceivableOutboundRelMapper">

    <resultMap type="com.ruoyi.ql.domain.QlReceivableOutboundRel" id="QlReceivableOutboundRelResult">
        <result property="id" column="id"/>
        <result property="receivableId" column="receivable_id"/>
        <result property="outboundCode" column="outbound_code"/>
        <result property="amount" column="amount"/>
        <result property="customerName" column="customer_name"/>
        <result property="saleContractCode" column="sale_contract_code"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>


</mapper>