<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ruoyi.web.controller.jianguan.zlsk.strestservice.mapper.MapPermissionMapper">

<select id="selectMapPermission" parameterType="java.util.Map" resultType="java.util.Map">
    select  * from  map_permission  where  1=1
    <if test="mId != null and mId != ''">and mId  = #{mId}</if>
  </select>

   <select id="selectTotal" resultType="java.util.Map" parameterType="Integer">
    select ptype  from  map_permission  where  1=1
    <if test="type != null and type != ''">and ptype  = #{type}</if>
    limit 0,1
  </select>

  <select id="query" parameterType="java.lang.String" resultType="java.util.Map">
      ${sql}
  </select>

   <insert id="insertMapPermission" parameterType="Map">
        insert into map_permission
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="mId != null">
                mId,
            </if>
            <if test="associateId != null">
                associateId,
            </if>
            <if test="ptype != null">
                ptype,
            </if>
            <if test="createtime != null">
                createtime,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="mId != null">
                #{mId,jdbcType=INTEGER},
            </if>
            <if test="associateId != null">
                #{associateId,jdbcType=INTEGER},
            </if>
            <if test="ptype != null">
                #{ptype,jdbcType=INTEGER},
            </if>
            <if test="createtime != null">
                #{createtime,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>


    <delete id="delMapPermission"  parameterType="Integer">
       delete FROM map_permission
        where mId = #{mid}
    </delete>

    <delete id="delMapPermissionByMid"  parameterType="Integer">
       delete FROM map_permission
        where mId = #{mid} and ptype = #{ptype} and associateId = #{aid}
    </delete>

    <delete id="delMapPermissionByAid"  parameterType="Integer">
       delete FROM map_permission
        where associateId = #{aid}
    </delete>


</mapper>
