<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.jianguan.manage.company.mapper.JgCompanyMapper">

    <resultMap type="com.ruoyi.jianguan.manage.company.domain.JgCompany" id="JgCompanyResult">
        <result property="id" column="id"/>
        <result property="companyName" column="name"/>
        <result property="companyCode" column="code"/>
        <result property="typeName" column="typename"/>
        <result property="typeCode" column="typecode"/>
        <result property="legalPerson" column="legalperson"/>
        <result property="legalPhone" column="legalphone"/>
        <result property="baseData" column="data"/>
        <result property="dutyNum" column="dutynum"/>
        <result property="enclosure" column="enclosure"/>
        <result property="remark" column="remark"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>


</mapper>
