<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.ql.mapper.QlOutboundMapper">

    <resultMap type="com.ruoyi.ql.domain.QlOutbound" id="QlOutboundResult">
        <result property="id" column="id"/>
        <result property="outboundCode" column="outbound_code"/>
        <result property="outboundDate" column="outbound_date"/>
        <result property="salesperson" column="salesperson"/>
        <result property="saleContractCode" column="sale_contract_code"/>
        <result property="purchaseContractCode" column="purchase_contract_code"/>
        <result property="customerId" column="customer_id"/>
        <result property="customerName" column="customer_name"/>
        <result property="telephone" column="telephone"/>
        <result property="address" column="address"/>
        <result property="proudctId" column="proudct_id"/>
        <result property="proudctName" column="proudct_name"/>
        <result property="goodsSearchstandard" column="goods_searchStandard"/>
        <result property="basePrice" column="base_price"/>
        <result property="salePrice" column="sale_price"/>
        <result property="extraPrice" column="extra_price"/>
        <result property="fj" column="fj"/>
        <result property="saleDate" column="sale_date"/>
        <result property="saleNumber" column="sale_number"/>
        <result property="saleAmount" column="sale_amount"/>
        <result property="outboundUsername" column="outbound_username"/>
        <result property="outboundReleaseuser" column="outbound_releaseuser"/>
        <result property="outboundUserId" column="outbound_user_id"/>
        <result property="outboundReleaseuserId" column="outbound_releaseuser_id"/>
        <result property="outboundNumber" column="outbound_number"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
        <result property="deptId" column="dept_id"/>
        <result property="projectId" column="project_id"/>
        <result property="projectName" column="project_name"/>
        <result property="lastReceivableDate" column="last_receivable_date"/>
        <result property="lockStatus" column="lock_status"/>
    </resultMap>
    <select id="getInventoryId" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT MAX(outbound_code) FROM ql_outbound WHERE outbound_code LIKE concat('%',#{formattedDateTime},'%')
                                                                and  del_flag=0;
    </select>

    <select id="getQlOutboundExpireScheduled"  resultMap="QlOutboundResult">
        select distinct tt.*
        from (SELECT t.*, t1.outbound_code as outboundCode
              FROM ql_outbound t
                       left join ql_receivable_outbound_rel t1 on t1.del_flag = 0 and t.outbound_code = t1.outbound_code
              WHERE datediff(last_receivable_date, CURRENT_DATE()) = 5
                and t.del_flag = 0) tt
        where tt.outboundCode is null
    </select>
</mapper>
