<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.flowable.mapper.ActRuVariableMapper">

    <update id="updateActRuVariable">
        update ACT_RU_VARIABLE set SCOPE_ID_ = #{actRuVariable.scopeId}, SCOPE_TYPE_ = #{actRuVariable.scopeType}  where PROC_INST_ID_ = #{actRuVariable.processInstanceId}
    </update>


    <select id="findActRuVariable" parameterType="com.ruoyi.flowable.domain.entity.ActRuVariableQuery" resultType="com.ruoyi.flowable.domain.entity.ActRuVariable">
        select t.PROC_INST_ID_ processInstanceId from act_ru_variable t where t.NAME_ = #{actRuVariableQuery.name} and t.TEXT_ = #{actRuVariableQuery.textValue}
    </select>
</mapper>