<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.ql.mapper.QlAreaMapper">

    <resultMap type="com.ruoyi.ql.domain.QlArea" id="QlAreaResult">
        <result property="Id" column="Id"/>
        <result property="Name" column="Name"/>
        <result property="Pid" column="Pid"/>
    </resultMap>


</mapper>
