<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.ql.mapper.QlWarehousingMapper">

    <resultMap type="com.ruoyi.ql.domain.QlWarehousing" id="QlWarehousingResult">
        <result property="id" column="id"/>
        <result property="warehousingCode" column="warehousing_code"/>
        <result property="warehousingUserId" column="warehousing_userid"/>
        <result property="warehousingUsername" column="warehousing_username"/>
        <result property="purchaseOrderId" column="purchase_order_id"/>
        <result property="proudctId" column="proudct_id"/>
        <result property="warehousingNumber" column="warehousing_number"/>
        <result property="price" column="price"/>
        <result property="orderNumber" column="order_number"/>
        <result property="amount" column="amount"/>
        <result property="warehousingDate" column="warehousing_date"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
        <result property="deptId" column="dept_id"/>
        <result property="proudctName" column="proudct_name"/>
        <result property="goodsSearchstandard" column="goods_searchStandard"/>
        <result property="goodsUnit" column="goods_unit"/>
        <result property="arrivalDate" column="arrival_date"/>
        <result property="buyer" column="buyer"/>
        <result property="contractId" column="contract_id"/>
        <result property="contractCode" column="contract_code"/>
        <result property="supplierId" column="supplier_id"/>
        <result property="supplierName" column="supplier_name"/>
        <result property="mobilePhone" column="mobile_phone"/>
        <result property="address" column="address"/>
        <result property="warehousingReleaseuser" column="warehousing_releaseuser"/>
        <result property="warehousingReleaseuserId" column="warehousing_releaseuserid"/>
        <result property="basePrice" column="base_price"/>
        <result property="incomePrice" column="income_price"/>
        <result property="extraPrice" column="extra_price"/>
        <result property="fj" column="fj"/>
        <result property="incomeDate" column="income_date"/>
        <result property="lastPaymentDate" column="last_payment_date"/>
        <result property="warehousingCode" column="warehousing_code"/>
        <result property="rate" column="rate"/>
        <result property="amountNotax" column="amount_notax"/>
        <result property="amountTax" column="amount_tax"/>
        <result property="licensePlate" column="license_plate"/>
        <result property="lockStatus" column="lock_status"/>
    </resultMap>

    <select id="getInventoryId" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT MAX(warehousing_code) FROM ql_warehousing WHERE warehousing_code LIKE concat('%',#{formattedDateTime},'%')

                                                           and  del_flag=0;
    </select>

    <select id="getWarehousingExpireScheduled"  resultMap="QlWarehousingResult">
        select tt.*
        from (select distinct w.*, t.warehousing_code as warehousingCode
              from ql_warehousing w
                       left join ql_payment_warehousing_rel t on t.del_flag = 0 and w.warehousing_code = t.warehousing_code
              WHERE datediff(w.last_payment_date, CURRENT_DATE()) = 5
                and w.del_flag = 0) tt
        where tt.warehousingCode is null
    </select>

</mapper>
