<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.jianguan.quality.mapper.SupervisionPatrolMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ruoyi.jianguan.quality.domain.entity.SupervisionPatrol">
        <id column="id" property="id" />
        <result column="create_user_id" property="createUserId" />
        <result column="create_time" property="createTime" />
        <result column="update_user_id" property="updateUserId" />
        <result column="update_time" property="updateTime" />
        <result column="project_id" property="projectId" />
        <result column="build_section" property="buildSection" />
        <result column="address" property="address" />
        <result column="start_date" property="startDate" />
        <result column="patrol_place" property="patrolPlace" />
        <result column="build_condition" property="buildCondition" />
        <result column="quality_condition" property="qualityCondition" />
        <result column="problem_deal_condition" property="problemDealCondition" />
        <result column="patrol_photo_attachment" property="patrolPhotoAttachment" />
        <result column="video" property="video" />
        <result column="other_attachment_info" property="otherAttachmentInfo" />
        <result column="status" property="status" />
        <result column="draft_flag" property="draftFlag" />
        <result column="deleted_flag" property="deletedFlag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        create_user_id,
        create_time,
        update_user_id,
        update_time,
        id, project_id, build_section, address, start_date, patrol_place, build_condition, quality_condition, problem_deal_condition, patrol_photo_attachment, video, other_attachment_info, status, draft_flag, deleted_flag
    </sql>

    <select id="getPageInfo" resultType="com.ruoyi.jianguan.quality.domain.vo.SupervisionPatrolPageVo"
            parameterType="com.ruoyi.jianguan.quality.domain.dto.SupervisionPatrolPageDTO">
        select a.*,p.name as buildSectionName,u.name as createName,u.NAME as createUserName from
           zz_supervision_patrol a
        left join ss_f_projects p on p.ID = a.build_section and p.GROUPLEVEL = 3
        left join ss_f_users u on u.id = a.create_user_id
        where a.project_id = #{pageDto.projectId}  and a.build_section = #{pageDto.buildSection}
        <if test="pageDto.buildSection != null">
            and a.build_section >= #{pageDto.buildSection}
        </if>
        <if test="pageDto.startDateStart != null and pageDto.startDateStart != ''">
            and a.start_date >= #{pageDto.startDateStart}
        </if>
        <if test="pageDto.startDateEnd != null and pageDto.startDateEnd != ''">
            and a.start_date &lt;= #{pageDto.startDateEnd}
        </if>
        <if test="pageDto.createName != null and pageDto.createName != ''">
            and u.name like concat('%',#{pageDto.createName},'%')
        </if>
        <if test="pageDto.patrolPlace != null and pageDto.patrolPlace != ''">
            and a.patrol_place like concat('%',#{pageDto.patrolPlace},'%')
        </if>
        <if test="pageDto.draftFlag != null">
            and a.draft_flag = #{pageDto.draftFlag}
        </if>
        order by a.create_time desc
    </select>

</mapper>
