<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.jianguan.business.contract.mapper.EquipmentExitMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ruoyi.jianguan.business.contract.domain.entity.EquipmentExit">
        <id column="id" property="id" />
        <result column="create_user_id" property="createUserId" />
        <result column="create_time" property="createTime" />
        <result column="update_user_id" property="updateUserId" />
        <result column="update_time" property="updateTime" />
        <result column="project_id" property="projectId" />
        <result column="project_code" property="projectCode" />
        <result column="supervision_ban" property="supervisionBan" />
        <result column="equipment_info" property="equipmentInfo" />
        <result column="status" property="status" />
        <result column="draft_flag" property="draftFlag" />
        <result column="deleted_flag" property="deletedFlag" />
        <result column="attachment" property="attachment" />

    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        create_user_id,
        create_time,
        update_user_id,
        update_time,
        id,
        project_id,
        project_code,
        supervision_ban,
        equipment_info,
        status,
        draft_flag,
        deleted_flag,
        attachment
    </sql>

    <select id="getPageInfo" parameterType="com.ruoyi.jianguan.business.contract.domain.dto.EquipmentExitPageDTO" resultType="com.ruoyi.jianguan.business.contract.domain.vo.EquipmentExitPageVo">
        select a.*,p.NAME as projectName,u.nick_name as createUserName from zz_equipment_exit a
        left join ss_f_projects p on a.project_id = p.ID
        left join sys_user u on a.create_user_id = u.user_id
        where  a.build_section = #{pageDto.buildSection}
        <if test="pageDto.projectCode != null and pageDto.projectCode != ''">
            and a.project_code like concat('%',#{pageDto.projectCode},'%')
        </if>
        <if test="pageDto.supervisionBan != null and pageDto.supervisionBan != ''">
            and a.`supervision_ban` like concat('%',#{pageDto.supervisionBan},'%')
        </if>
        <if test="pageDto.draftFlag != null">
            and a.draft_flag = #{pageDto.draftFlag}
        </if>
        order by a.create_time desc
    </select>

</mapper>
