<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.jianguan.business.contract.mapper.LaborContractMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ruoyi.jianguan.business.contract.domain.entity.LaborContract">
        <id column="id" property="id" />
        <result column="create_user_id" property="createUserId" />
        <result column="create_time" property="createTime" />
        <result column="update_user_id" property="updateUserId" />
        <result column="update_time" property="updateTime" />
        <result column="project_id" property="projectId" />
        <result column="start_date" property="startDate" />
        <result column="build_section" property="buildSection" />
        <result column="contract_code" property="contractCode" />
        <result column="contract_user" property="contractUser" />
        <result column="attachment" property="attachment" />
        <result column="information" property="information" />
        <result column="project_manage_user" property="projectManageUser" />
        <result column="special_user" property="specialUser" />
        <result column="director_user" property="directorUser" />
        <result column="draft_flag" property="draftFlag" />
        <result column="deleted_flag" property="deletedFlag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        create_user_id,
        create_time,
        update_user_id,
        update_time,
        id, project_id, start_date, build_section, contract_code, contract_user, attachment, infomation, project_manage_user, special_user, director_user, draft_flag, deleted_flag
    </sql>


    <select id="getPageInfo" parameterType="com.ruoyi.jianguan.business.contract.domain.dto.LaborContractPageDTO" resultType="com.ruoyi.jianguan.business.contract.domain.vo.LaborContractPageVo">
        select a.*,p.NAME as buildSectionName
        ,u.nick_name as createUserName
        from zz_labor_contract a
        left join ss_f_projects p on a.build_section = p.id
        left join sys_user u ON a.create_user_id = u.user_id
        where  a.build_section = #{pageDto.buildSection}
        <if test="pageDto.contractCode != null and pageDto.contractCode != ''">
            and a.contract_code like concat('%',#{pageDto.contractCode},'%')
        </if>

        <if test="pageDto.draftFlag != null">
            and a.draft_flag = #{pageDto.draftFlag}
        </if>
        order by create_time desc
    </select>

</mapper>
