<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.jianguan.manage.project.mapper.DataDictionaryMapper">

    <resultMap type="com.ruoyi.jianguan.manage.project.domain.entity.DataDictionary" id="DataDictionaryResult">
        <result property="id" column="id"/>
        <result property="parentId" column="parent_id"/>
        <result property="ancestors" column="ancestors"/>
        <result property="code" column="code"/>
        <result property="name" column="name"/>
        <result property="orderNum" column="order_num"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
        <result property="deptId" column="dept_id"/>
    </resultMap>

    <select id="selectVoListByPCode" resultType="com.ruoyi.jianguan.manage.project.domain.entity.DataDictionary">
        SELECT d.* FROM data_dictionary d, data_dictionary dp where
        d.parent_id=dp.id and dp.`code`=#{pCode} and d.del_flag=0
    </select>

</mapper>
