<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.jianguan.manage.project.mapper.JgProjectInfoMapper">

    <resultMap type="com.ruoyi.jianguan.manage.project.domain.entity.JgProjectInfo" id="JgProjectInfoResult">
        <result property="id" column="id"/>
        <result property="projectName" column="`NAME`"/>
        <result property="projectCode" column="`CODE`"/>
        <result property="parentId" column="PARENTID"/>
        <result property="projectArea" column="TYPE"/>
        <result property="groupLevel" column="GROUPLEVEL"/>
        <result property="status" column="STSTATE"/>
        <result property="visible" column="VISIBLE"/>
        <result property="orderNum" column="STORDER"/>
        <result property="groupId" column="GROUPID"/>
        <result property="isAuto" column="ISAUTO"/>
        <result property="projectPic" column="PROJECTPIC"/>
        <result property="contractNum" column="CONTRACTNUM"/>
        <result property="coordinate" column="COORDINATE"/>
        <result property="investment" column="INVESTMENT"/>
        <result property="projectType" column="PROJECTTYPE"/>
        <result property="projectPoint" column="PROJECTPOINT"/>
        <result property="projectLine" column="PROJECTLINE"/>
        <result property="projectSurface" column="PROJECTSURFACE"/>
        <result property="introduction" column="INTRODUCTION"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>


</mapper>
