<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.jianguan.manage.project.mapper.PubMonitorMapper">

    <resultMap type="com.ruoyi.jianguan.manage.project.domain.entity.PubMonitor" id="PubMonitorResult">
        <result property="id" column="id"/>
        <result property="projectId" column="projectId"/>
        <result property="name" column="name"/>
        <result property="type" column="type"/>
        <result property="deviceNo" column="deviceNo"/>
        <result property="channelNo" column="channelNo"/>
        <result property="url" column="url"/>
        <result property="geom" column="geom"/>
    </resultMap>


</mapper>
