<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.web.controller.jianguan.zlsk.strestservice.dp.mapper.DpOtherCostMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ruoyi.web.controller.jianguan.zlsk.strestservice.dp.model.DpOtherCost">
        <id column="id" property="id" />
        <result column="project_name" property="projectName" />
        <result column="cost" property="cost" />
        <result column="cost_type" property="costType" />
        <result column="engineering_id" property="engineeringId" />
    </resultMap>

    <sql id="BaseResultSql">
        id,project_name,cost,cost_type,engineering_id
    </sql>

    <select id="selectByEngineeringId" resultMap="BaseResultMap">
        SELECT
        <include refid="BaseResultSql" />
        FROM
            dp_other_cost
        WHERE
        engineering_id=#{engineeringId}
    </select>

    <select id="selectList" resultMap="BaseResultMap">
        SELECT
        <include refid="BaseResultSql" />
        FROM
        dp_other_cost
        WHERE
        engineering_id=#{engineeringId}
        AND
        cost_type=#{costType}
    </select>

    <select id="selectTypeTotalCost" resultType="java.lang.Double">
        SELECT
            sum(cost)
        FROM
            dp_other_cost
        WHERE
            engineering_id=#{engineeringId}
            AND
            cost_type=#{costType}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO dp_other_cost VALUES (null,#{projectName},#{cost},#{costType},#{engineeringId})
    </insert>

    <update id="updateById" useGeneratedKeys="true" keyProperty="id">
        UPDATE
            dp_other_cost
        SET
        <if test="projectName!=null">
            project_name=#{projectName},
        </if>
        <if test="cost!=null">
            cost=#{cost},
        </if>
        WHERE
        id=#{id}
        and
        engineering_id=#{engineeringId}
    </update>


    <delete id="deleteByIds">
        DELETE FROM
            dp_other_cost
        WHERE
            id IN
        <foreach collection="ids" separator="," item="item" open="(" close=")">
            #{item}
        </foreach>
    </delete>
</mapper>
