<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.jianguan.manage.produce.mapper.PubComponentTypeMapper">

    <resultMap type="com.ruoyi.jianguan.manage.produce.domain.entity.PubComponentType" id="PubComponentTypeResult">
        <result property="id" column="id"/>
        <result property="libraryId" column="library_id"/>
        <result property="name" column="name"/>
        <result property="code" column="code"/>
        <result property="remark" column="remark"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <select id="selectCountByPrimaryKey" resultType="java.lang.Integer">
        SELECT COUNT(1)
            FROM pub_conponent_type
        WHERE id = #{id}
    </select>

</mapper>
